Test28Maggio.WcfClient/Connected Services/ClienteServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Test28Maggio.Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientiService_ListaClienti_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaClienti" />
  </wsdl:message>
  <wsdl:message name="IClientiService_ListaClienti_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaClientiResponse" />
  </wsdl:message>
  <wsdl:message name="IClientiService_OttieniClienteById_InputMessage">
    <wsdl:part name="parameters" element="tns:OttieniClienteById" />
  </wsdl:message>
  <wsdl:message name="IClientiService_OttieniClienteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:OttieniClienteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientiService_AggiungiCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiCliente" />
  </wsdl:message>
  <wsdl:message name="IClientiService_AggiungiCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientiService_ModificaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaCliente" />
  </wsdl:message>
  <wsdl:message name="IClientiService_ModificaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientiService_EliminaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaCliente" />
  </wsdl:message>
  <wsdl:message name="IClientiService_EliminaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientiService">
    <wsdl:operation name="ListaClienti">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientiService/ListaClienti" message="tns:IClientiService_ListaClienti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientiService/ListaClientiResponse" message="tns:IClientiService_ListaClienti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OttieniClienteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientiService/OttieniClienteById" message="tns:IClientiService_OttieniClienteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientiService/OttieniClienteByIdResponse" message="tns:IClientiService_OttieniClienteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientiService/AggiungiCliente" message="tns:IClientiService_AggiungiCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientiService/AggiungiClienteResponse" message="tns:IClientiService_AggiungiCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientiService/ModificaCliente" message="tns:IClientiService_ModificaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientiService/ModificaClienteResponse" message="tns:IClientiService_ModificaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientiService/EliminaCliente" message="tns:IClientiService_EliminaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientiService/EliminaClienteResponse" message="tns:IClientiService_EliminaCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientiService" type="tns:IClientiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaClienti">
      <soap:operation soapAction="http://tempuri.org/IClientiService/ListaClienti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OttieniClienteById">
      <soap:operation soapAction="http://tempuri.org/IClientiService/OttieniClienteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiCliente">
      <soap:operation soapAction="http://tempuri.org/IClientiService/AggiungiCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaCliente">
      <soap:operation soapAction="http://tempuri.org/IClientiService/ModificaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaCliente">
      <soap:operation soapAction="http://tempuri.org/IClientiService/EliminaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientiService">
    <wsdl:port name="BasicHttpBinding_IClientiService" binding="tns:BasicHttpBinding_IClientiService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Test28Maggio.WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>